.Header {
  align-content: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-weight: 700;
	padding: 10px;

	a {
	  display: flex;
	  flex: 1;
	  justify-content: center;
	  align-items: center;
	  padding: 5px;
	  background-color: #D0D0D0;
	  
	  border: 1px;
	  border-style: solid;
	  border-color: black;
	}

}